{% extends 'base.html' %}
{% load static %}
{% block body %}

<section id="contact" style="padding-top: 20px;">
    <div class="container">
        <h3 class="text-center text-uppercase" >contact us</h3>
        <p class="text-center w-75 m-auto" style="color: #202040;"><b>Feel free to contact us. You are always welcome</b></p>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-3 my-5">
            <div class="card border-0">
               <div class="card-body text-center">
                 <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                 <h4 class="text-uppercase mb-5" style="color: #202040;">call us</h4>
                 <p style="color: #202040;"><b>+92304-6005557</b></p>
               </div>
             </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 my-5">
            <div class="card border-0">
               <div class="card-body text-center">
                 <i class="fa fa-whatsapp  fa-5x mb-3" aria-hidden="true"></i>
                 <h4 class="text-uppercase mb-5"style="color: #202040;" >Whats App</h4>
                 <p style="color: #202040;"><b>+92300-6005557</b></p>
               </div>
             </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 my-5">
            <div class="card border-0">
               <div class="card-body text-center">
                 <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                 <h4 class="text-uppercase mb-5" style="color: #202040;">Office Location</h4>
                <address style="color: #202040;"><b>323,Shamsher town, Sargodha </b> </address>
               </div>
             </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3 my-5">
            <div class="card border-0">
               <div class="card-body text-center">
                 <i class="fa fa-envelope  fa-5x mb-3" aria-hidden="true"></i>
                 <h4 class="text-uppercase mb-5" style="color: #202040;">email</h4>
                 <p style="color: #202040;"><b>mimranshahzad5557@gmail.com</b></p>
               </div>
             </div>
          </div>
        </div>
    </div>
 </section>

{% endblock body %}